.porfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.porfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.porfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.porfolio_item-image {
    border-radius: 2.5rem;
    overflow: hidden;
}

.porfolio_item h3 {
    margin: 1.5rem 0 2rem;
}

.porfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


@media screen and  (max-width: 1024px) {
    .porfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
   }
   /*================= MADIO QUERY (Smartphone) +==================*/
   
   @media screen and  (max-width: 600px) {
    .porfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
   }